.bg-blue{
    background-color: #2a4a66!important;
}

.bg-black{
    background-color: #131a21!important;
}

.bg-blue-light{
    background-color: #2d567a!important;
}

.text-black{
    color: #131a21;
}