.img-diseño:hover {
  background-size: 105% 105% !important;
  transition: 500ms;
}

.img-diseño a {
  filter: opacity(0);
}
.img-diseño:hover a {
  filter: opacity(1);
  transform: scale(1.05);
  transition: 500ms;
  text-shadow: 1px 1px rgb(0, 0, 0), 1px 1px rgb(0, 0, 0), 1px 1px rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0);
}
